/*
https://coolors.co/
https://coolors.co/7fbfff-3299ff-002aff-000099-000059

#7FBFFF -- MayaBlue
#3299FF -- Azure
#002AFF -- AZUL RYB
#000099 -- Duque Azul
#000059 -- Marinha
*/



/** CONF. GERAL */
/** CONF. GERAL */
/** CONF. GERAL */



:root .paletaAzul{
    font-family: agency fb, sans-serif;
    font-size: 16px;
    
    --corClara02:   #7FBFFF;
    --corClara01:   #3299FF;
    --corViva:      #002AFF;
    --corEscura01:  #000099;
    --corEscura02:  #000059;
}

@font-face {
    font-family: computerfont;
    src: url('Computerfont.ttf');
}

html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-image: url('bg.png');
    background-size: 100% 100%;
}

.content{
    max-width: 960px;
    margin: auto;
    position: relative;
}

.espacamento{
    margin-top: 15%;
    margin-bottom: 25%;
}

header{
    color: var(--corEscura02);
    text-align: center;
    font-weight: bold;
    font-family: computerfont, sans-serif;

    padding-top: 15%;
}

h4{
    color: var(--corEscura02);
    text-align: center;
    font-weight: bold;
    font-family: computerfont, sans-serif;

    padding-top: 15%;
}

section{
    width: 90%;
    margin: auto;
}

h4{
    font-size: 35px;
    font-weight: bold;
}



/** MENU */
/** MENU */
/** MENU */



nav{
    width: 100%;
    right: 0;
    top: 0;
    margin-right: 1%;
    z-index: 10;

    text-align: right;
    position: fixed;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    width: 15%;
   
    color: var(--corEscura01);
    font-size: 1.7em;
    font-family: computerfont, sans-serif;
    text-align: right;
    vertical-align: middle;
   
    padding-right: 0.6%;
    border-bottom: 2px solid var(--corEscura01);
    border-right:  2px solid var(--corEscura01);

    transition: 1s background-color;
}
nav ul li a{
    color: var(--corEscura01);
    transition: 1s background-color;
    text-decoration: none;
}

#jsref{
    color: var(--corEscura01);
    font-size: 1.7em;
    font-family: computerfont, sans-serif;
    text-decoration: none;
    border-radius: 50%;
    transition: 1s background-color;
}

#jsref:hover{
    background-color: var(--corClara01);
    border-radius: 50%;
    color: white;
}

nav ul li:hover{
    background-color: var(--corClara01);
    color: white;
}

nav ul li:focus{
    background-color: var(--corClara01);
    color: white;
    cursor: default;
}
nav ul li a:hover{
    color: white;
}

nav ul li a:focus{
    color: white;
    cursor: default;
}

@media screen and (max-width: 950px) {
    nav ul li{
        width: 23%;
    }
}
@media screen and (max-width: 690px) {
    nav ul li{
        width: 25%;
    }
}
@media screen and (max-width: 620px) {
    nav ul li{
        width: 30%;
    }
}
@media screen and (max-width: 490px) {
    nav ul li{
        font-size: 1.3em;
    }
}
@media screen and (max-width: 390px) {
    nav{
        display: none;
    }
}



/** CABEÇALHO */
/** CABEÇALHO */
/** CABEÇALHO */



header.espacamento h1{
    margin: 0;
    padding: 0;

    color: var(--corViva);
    font-size: 10em;
}

header.espacamento h3{
    margin: 0;
    margin-top: -60px;
    padding: 0;

    font-size: 50px;
    font-family: agency fb, sans-serif;
}

@keyframes indo{
	0%{
		color: var(--corClara02);
		margin-right: 25%;
	}
	
	100%{
		color: var(--corEscura02);
		margin-right: 0%;
	}
}

@keyframes vindo{
	0%{
		color: var(--corClara02);
		margin-left: 25%;
	}
	
	100%{
		color: var(--corEscura02);
		margin-left: 0%;
	}
}

#analista{
	animation-name: indo;
    animation-duration: 4s;
}

#desenvolvedor{
	animation-name: vindo;
    animation-duration: 4s;
}

@media screen and (max-width: 1000px) {
    header.espacamento h1{
        font-size: 8em;
    }
}
@media screen and (max-width: 820px) {
    header.espacamento h1{
        font-size: 6em;
    }
    header.espacamento h3{
        margin-top: -30px;
        font-size: 30px;
    }
}
@media screen and (max-width: 550px) {
    header.espacamento h1{
        font-size: 4em;
    }
    header.espacamento h3{
        margin-top: -30px;
        font-size: 30px;
    }
}
@media screen and (max-width: 380px) {
    header.espacamento h1{
        font-size: 40px;
    }
    header.espacamento h3{
        margin-top: -15px;
        font-size: 30px;
    }
}



/** SOBRE MIM */
/** SOBRE MIM */
/** SOBRE MIM */



#sobremim .texto{
    width: 80%;
    margin: auto;
    
    font-size: 25px;
    text-indent: 50px;
    text-align: justify;
}

#sobremim .sobremimHabilidade{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
}

#sobremim .sobremimHabilidade aside.habilidade{
    width: 20%;
    height: 150px;

    position: relative;
}

aside.habilidade div{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 10px solid var(--corEscura02);
    border-radius: 50%;

    position: absolute;
}

aside.habilidade div.p80{
    clip-path: polygon(50% 0%, 50% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
}

aside.habilidade div.p70{
    clip-path: polygon(50% 0%, 50% 50%, 0% 90%, 0% 100%, 100% 100%, 100% 0%);
}

aside.habilidade div.p40{
    clip-path: polygon(50% 0%, 50% 50%, 90% 100%, 100% 100%, 100% 0%);
}

aside.habilidade h2{
    width: 100%;
    height: 100%;

    text-align: center;
    margin-top: 25%;
    font-size: 1em;
}

aside.habilidade h2 span{
    font-size: 2em;
}

#sobremim footer{
    margin-top: 20px;
    text-align: center;
}

#sobremim footer button{
    width: 40%;
    height: 50px;

    font-family: computerfont, sans-serif;
    border-radius: 8px;
    font-size: 2em;
    background-color: var(--corClara02);
    color: white;
}

#sobremim footer button:hover{
    background-color: var(--corClara01);
}

@media screen and (max-width: 650px) {
    aside.habilidade div{
        border-color: #00000000;
    }
    #sobremim footer button{
        width: 70%;
    }
}
@media screen and (max-width: 450px) {
    #sobremim footer button{
        width: 100%;
    }
}
@media screen and (max-width: 350px) {
    #sobremim .sobremimHabilidade{
        flex-direction: column;
        align-items: center;
    }
    #sobremim .sobremimHabilidade aside.habilidade{
        margin: 15px;
        width: 25%;
        height: 50px;
    }
}



/** TRABALHOS */
/** TRABALHOS */
/** TRABALHOS */



#trabalhos .texto{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
}

#trabalhos .texto aside{
    width: 23%;
    height: 350px;
    
    padding: 5px;
    position: relative;
    background-color: var(--corEscura02);
}

#trabalhos .texto aside img{
    width: 100%;
    height: 50%;
    
    box-sizing: border-box;
}

#trabalhos .texto aside .texto{
    color: white;
    font-size: 1.3em;
}

#trabalhos footer button{
    width: 100%;
    margin-left: -5px;

    font-family: computerfont, sans-serif;
    font-size: 1.3em;
    background-color: var(--corClara02);
    color: white;
    position: absolute;
    bottom: 5px;
}
#trabalhos footer button:hover{
    background-color: var(--corClara01);
}

#modal{
    width: 90%;
    height: 400px;

    background-color: var(--corEscura01);
    padding: 15px;
    position: absolute;
    z-index: 10;
    font-size: 2em;
    color: white;
    display: none;
}

#modal span{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    font-size: 2em;
}
#modal span:hover{
    color: var(--corClara02);
    text-shadow: 1px 1px white;
}

#modal img{
    width: 45%;
    margin-right: 15px;
    float: left;
}

#modal button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px;

    width: 40%;
    height: 50px;

    font-family: computerfont, sans-serif;
    border-radius: 8px;
    font-size: 1em;
    background-color: var(--corClara02);
    color: white;
}
#modal button:hover{
    background-color: var(--corClara01);
}

@media screen and (max-width: 650px) {
    #trabalhos .texto aside{
        height: 200px;
    }
    #trabalhos .texto aside img{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    #trabalhos .texto aside{
        height: 250px;
    }
}



/** CONTATOS */
/** CONTATOS */
/** CONTATOS */



#contato aside{
    text-align: center;
    font-size: 2.2em;
    color: white;
}

#contato aside img{
    width: 50px;
    height: 50px;

    vertical-align: middle;
    border-radius: 50%;
    margin: 10px;
}

#contato aside form{
	padding: 1em;
	background-color: #ffffff75;
}

#contato aside form input{
    width: 45%;
    font-size: .7em;
    font-family: agency fb, sans-serif;
    border: none;
    border-bottom: 2px solid var(--corEscura02);
    background-color: transparent;
    color: var(--corEscura02);
}

#contato aside form textarea{
    width: 92%;
    font-size: .7em;
    font-family: agency fb, sans-serif;
    border: none;
    border-bottom: 2px solid var(--corEscura02);
    background-color: transparent;
    color: var(--corEscura02);
}

#contato aside form button{
    width: 92%;
    font-size: .7em;
    font-family: agency fb, sans-serif;
    background-color: transparent;
    border: none;
    color: var(--corEscura02);
}

@media screen and (max-width: 345px) {
    #contato aside{
        font-size: 1.5em;
    }
}



/** FOOTER */
/** FOOTER */
/** FOOTER */



#footer{
    background-color: #00000055;
    text-align: center;
    padding-top: 2%;
    padding-bottom: .2%;
    color: white;
    font-size: 1.5em;
}